* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* ========= MANU BAR ========= */

.menu-bar{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.menu-bar .item label{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu-bar .item{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    transition: background 0.3s ease;
}

.menu-bar .item:hover{
    background-color: rgb(212, 211, 211);
}

.menu-bar .item.active{
    background-color: rgb(248, 161, 69);
}


.menu-bar .item .selected-pointer svg,
.menu-bar .item .selected-pen svg,
.menu-bar .item .selected-shape svg{
    display: none;
}

.menu-bar .item .selected-pointer .selected,
.menu-bar .item .selected-pen .selected,
.menu-bar .item .selected-shape .selected{
    display: flex;
}

.menu-bar .item input[type="checkbox"]{
    display: none;
}

.menu-bar .item input[type="checkbox"]:checked ~ .items-container{
    visibility: visible;
    animation: items-show 0.3s;
}
.menu-bar .item .items-container{
    visibility: hidden;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    left: calc(100%  + 15px);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    padding: 10px;
    border-radius: 10px;
}

.menu-bar .item .items-container .container-item{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    transition: background 0.5s ease;
}

.menu-bar .item .items-container .container-item:hover{
    background-color: rgb(212, 211, 211);
}

.menu-bar .item .items-container .container-item:hover > .tooltip {
    visibility: visible;
    animation: tooltip-show 0.3s;
}

.menu-bar .tooltip{
    visibility: hidden;
    position: absolute;
    bottom: calc(100% + 5px);
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.menu-bar .tooltip-item{
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);
    transform: translateY(-50%);
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 10px;
}

.menu-bar .item:hover > .tooltip-item{
    visibility: visible;
}

.menu-bar .item input[type="checkbox"]:checked ~ .tooltip-item{
    visibility: hidden;
}


.keyboard-btn{
    display: inline-block;
    margin: 2px;
    padding: 3px 6px;
    background-color: #f2f2f2;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.5);
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-bar .item input[type="checkbox"]:checked ~ .color-picker{
    visibility: visible;
    animation: items-show 0.3s;
}
.menu-bar .item .color-picker{
    width: 130px;
    visibility: hidden;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    left: calc(100%  + 15px);
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 20px);
    grid-gap: 10px;
}

.menu-bar .item .color-picker .container-item{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.5s ease;
}

.current-color{
    display: block;
    height: 20px;
    width: 20px;
    background-color: #252525;
    border-radius: 50%;
    border: 2px solid black;
}

.menu-bar .item .color-picker .container-item:hover{
    background-color: rgb(212, 211, 211);
}

.color{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.color.black{
    background-color: #252525;
}

.color.yellow{
    background-color: rgb(254, 212, 48);
}

.color.light-orange{
    background-color: rgb(251, 174, 23);
}

.color.orange{
    background-color: rgb(243, 99, 35);
}

.color.red{
    background-color: rgb(191,0,0);
}

.color.dark-red{
    background-color: rgb(128,0,0);
}

.color.magenta{
    background-color: rgb(207, 18, 120);
}

.color.dark-purple{
    background-color: rgb(91, 49, 141);
}

.color.purple{
    background-color: rgb(145, 75, 184);
}

.color.light-blue{
    background-color: rgb(62, 204, 253);
}

.color.blue{
    background-color: rgb(0, 105, 253);
}

.color.light-green{
    background-color: rgb(126, 196, 0);
}

.color.green{
    background-color: rgb(2, 165, 86);
}

.color.light-gray{
    background-color: rgb(235, 235, 235);
}

.color.gray{
    background-color: rgb(182, 182, 182);
}

.container {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container textarea{
    visibility: hidden;
    position: fixed;
    top: 100px;
    left: 10px;
}

.container>canvas {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

@keyframes tooltip-show {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes items-show {
    0%{ 
        opacity: 0;
        transform: translate(0);
    }
}